---
layout: bioL
---
<header class="bio-index-header-main"
    style="background-image:url('{{ site.baseurl}}/assets/img/home-hero.jpg'); background-attachment: fixed;">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="bio-index-title">
        <h1 class="bio-title">Bio</h1>
        <div class="bio-language-buttons">
            <button class="toggle-btn selected" onclick="toggleBio('en')">ENG</button>
            <button class="toggle-btn" onclick="toggleBio('it')">ITA</button>
        </div>
    </div>
    <!-- <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script> -->
</header>

<button onclick="exportToMarkdown()" class="mdDownload">
    <p>Download</p>
    <img src="{{ site.baseurl}}/assets/img/icons/markdown.svg" alt="">
</button>
<div class="bio-wrapper">
    <div id="bio-en" class="bio-content visible">
        {% include _cv/bio-eng.html %}
    </div>
    <div id="bio-it" class="bio-content">
        {% include _cv/bio-it.html %}
    </div>
</div>
<hr>