---
layout: bioL
---
<header class="bio-index-header-main"
    style="background-image:url('{{ site.url}}/assets/img/home-hero.jpg'); background-attachment: fixed;">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="bio-index-title">
        <h1 class="bio-title">Bio</h1>
        <div class="bio-language-buttons">
            <a class="toggle-btn selected" onclick="toggleBio('en')" href="#bio-wrapper">ENG</a>
            <a class="toggle-btn" onclick="toggleBio('it')" href="#bio-wrapper">ITA</a>
        </div>
    </div>
</header>

<button onclick="exportToMarkdown()" class="mdDownload">
    <p>Download</p>
    <img src="{{ site.url}}/assets/img/icons/markdown.svg" alt="">
</button>
<div class="bio-wrapper" id="bio-wrapper">
    <div id="bio-en" class="bio-content visible">
        {% include _cv/bio-eng.html %}
    </div>
    <div id="bio-it" class="bio-content">
        {% include _cv/bio-it.html %}
    </div>
</div>
<hr>