---
layout: default
---
{% for post in site.posts offset: 0 limit: 1 %}
<header class="blog-index-header-main" style="background-image:url('{{ site.url}}{{ site.blogImgBin_path }}{{ post.featImg }}');">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="blog-index-title">
        <h1 class="featured-blog-post-title">{{ post.title }}</h1>
        <a href="{{ site.url }}{{ post.url }}" class="read-featured-blog-post">Read</a>
    </div>
</header>
{% endfor %}

<div class="blog-index-wrapper">
    {% for post in site.posts %}
        <div class="blogPostContainer">
            <a href="{{ site.url }}{{ post.url }}" class="blogPostFeatImg" style="background-image: url('{{ site.url}}{{ site.blogImgBin_path }}lowRes/{{ post.featImg }}');"></a>
            <a href="{{ site.url }}{{ post.url }}" class="blogCategory">{{ post.categories | join: ', ' }}</a>
            <a href="{{ site.url }}{{ post.url }}" class="blogTitle">{{ post.title }}</a>
            <p class="blogExcerpt">{{ post.excerpt }}</p>
        </div>
    {% endfor %}
</div>
<hr>

<script>
    const div = document.getElementById("blogLink");

    if (div) {
      const parentLink = div.parentElement;

      if (parentLink && parentLink.tagName === "A") {
        parentLink.classList.add("active-page");
      }
    }
  </script>