---
layout: default
---
<header class="header-main" style="background-image:url('{{ site.baseurl}}/assets/img/home-hero.jpg')">
    <div class="overlay-light"></div>
    {% include nav.html %}
    <div class="home-title">
        <h1>{{ site.title }}</h1>
        <h3>Composer</h3>
    </div>
    <a href="#blurb" class="home-avatar"></a>
</header>
<!-- About -->
<div class="who-is-he" id="blurb">
    <h2>Who is he?</h2>
    <p>Francesco Vitucci is a composer and electroacoustic performer based in Bari (IT). Ordinary member of S.I.M.C.
        (Italian Society of Contemporary Music), his works are performed in concerts and contemporary music festivals,
        in Italy and abroad, and have been positively evaluated in various national and international composition
        competitions.<br>His field of research is the algorithmic composition of acoustic and electroacoustic music. <a
            href="{{ site.baseurl }}/bio" target="_blank">(Read more)</a></p>
</div>
<hr>
<div class="events">
    <h2 class="upcoming-events-title">Upcoming events</h2>
    <a href="{{ site.baseurl }}/events" target="_blank" class="upcoming-events-link">(More)</a>
    <div class="upcoming-events">
        {% assign today = "now" | date: "%Y-%m-%d" %}
        {% assign events = site.data.events | sort: "date" %}
        {% assign count = 0 %}
        {% assign countLimit = 4 %}
        {% for event in events%}
        {% if event.date >= today %}
        <a class='upcoming-event {%if event.status == "cancelled" %} cancelled {% endif %}' {% if event.url %}href="{{event.url}}" target="_blank" style="cursor: pointer;" {% endif %}>
            <img src="{{ site.baseurl }}/assets/img/icons/exclamation.svg" alt="">
            <div class="event-info">
                <p class="date-event">{{ event.date | date: "%d-%m-%Y"  }}</p>
                {% if event.time %}<p class="time-event">{{ event.time }}</p>{% endif %}
                {% if event.location %}<p class="place-event">{{ event.location }}</p>{% endif %}
                {% if event.type %}<p class="type-event">{{ event.type }}</p>{% endif %}
            </div>
            <hr>
            <h2>{{ event.title }}</h2>
            {% if event.description %}<p>{{ event.description }}</p>{% endif %}
            {% if event.status == 'cancelled' %}
                <div class="overlay">Cancelled</div>
            {% endif %}
        </a>
        {% assign count = count | plus: 1 %}
        {% if count == countLimit %}
            {% break %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <hr>
    <h2 class="concluded-events-title">Recent events</h2>
    <div class="concluded-events">
        {% assign today = "now" | date: "%Y-%m-%d" %}
        {% assign events = site.data.events | sort: "date"  %}
        {% assign count = 0 %}
        {% assign countLimit = 2 %}
        {% for event in events%}
        {% if event.date < today %}
        <a class='concluded-event {%if event.status == "cancelled" %} cancelled {% endif %}' {% if event.url %}href="https://www.mdw.ac.at/icsc2024/" target="_blank" {% endif %}>
            <img src="{{ site.baseurl }}/assets/img/icons/concluded.svg" alt="">
            <div class="event-info">
                <p class="date-event">{{ event.date | date: "%d-%m-%Y" }}</p>
                {% if event.time %}<p class="time-event">{{ event.time }}</p>{% endif %}
                {% if event.location %}<p class="place-event">{{ event.location }}</p>{% endif %}
                {% if event.type %}<p class="type-event">{{ event.type }}</p>{% endif %}
            </div>
            <hr>
            <h2>{{ event.title }}</h2>
            {% if event.description %}<p>{{ event.description }}</p>{% endif %}
            {% if event.status == 'cancelled' %}
                <div class="overlay">Cancelled</div>
            {% endif %}
        </a>
        {% assign count = count | plus: 1 %}
        {% if count == countLimit %}
            {% break %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
<hr>