---
layout: default
---
<header class="video-index-header-main"
    style="background-image:url('{{ site.url}}/assets/img/home-hero.jpg');">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="video-index-title">
        <h1 class="video-title">Video</h1>
    </div>
</header>

<div class="videoContentsWrapper">
    {% for video in site.data.videos %}
    <h2>{{ video.title }}</h2>
    <h3>{{ video.subtitle }}</h3>
    <div class="videoWrapper">
        <iframe src="{{ video.linkForIFrame }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    {% endfor %}
</div>

<script>
    const div = document.getElementById("mediaLink");

    if (div) {
      const parentLink = div.parentElement;

      if (parentLink && parentLink.tagName === "A") {
        parentLink.classList.add("active-page");
      }
    }
  </script>