header.works-index-header-main
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 500px
    background: $primary
    size: cover
    position: center center
    repeat: no-repeat
    .overlay-dark
        position: absolute
        z-index: 2
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: $primary
        opacity: .35
    .works-index-title
        position: relative
        z-index: 5
        text-align: center
        padding-top: 50px
        h1.works-title
            max-width: 600px
            font-size: 3.125em
            font-weight: 500
            line-height: 1.2em
            padding: 0 20px 5px 20px
            color: $white
            margin: 30px 0
            @media screen and ( max-width: 500px )
                font-size: 2.5em
            @media screen and ( max-width: 400px )
                font-size: 2.1875em
            @media screen and ( max-width: 360px )
                font-size: 1.875em

#loading-message
    font-size: 1.5em
    text-align: center
    margin-top: 20px
    display: block

#works
    display: none
    width: 90%
    max-width: 1400px
    margin: 0 auto 0 auto
    padding: 0 20px
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: baseline
    flex-wrap: wrap
    //visibility: hidden
    .work
        width: 375px
        height: 870px
        overflow: auto
        display: flex
        flex-direction: column
        margin: 20px 5px 50px 5px
        transition: transform 0.2s ease-in-out
        .workCardWrapper
            z-index: 999
            width: 100%
            height: 100%
            border: 1.5px solid $primary
            border-radius: 10px
            background: $white
            .workCard
                hr
                    width: 75%
                .workTitle
                    display: block
                    text-align: center
                    margin: 20px 10px 10px 10px
                    font-family: $font-stack
                    font-size: 1.5em
                    font-weight: 500
                    color: $black
                .workSubtitle
                    min-height: 60px
                    display: block
                    text-align: center
                    margin: 0 5px 0 5px
                    font-family: $font-stack-two
                    font-size: 1em
                    font-weight: 400
                    color: $primary
                    line-height: 1.5em
                .workYear
                    display: block
                    text-align: center
                    margin: 0 auto 10px auto
                    font-family: $font-stack-two
                    font-size: 0.8em
                    font-weight: 400
                    color: $secondary
                .workImage
                    display: block
                    object-fit: cover
                    width: 100%
                    height: 200px
                    border-top: 1px solid $black
                    border-bottom: 1px solid $black
                    margin: 0 0 10px 0
                .workDuration
                    font-size: 1em
                    line-height: 1.25em
                    font-family: $font-stack-two
                    color: $secondary
                .workDuration::before
                    content: "Duration: "
                    color: $primary
                    font-family: $font-stack
                    font-weight: 400
                .premiereWrapper
                    width: 100%
                    min-height: 60px
                    display: flex
                    flex-direction: column
                    flex-wrap: wrap
                    align-items: right
                    justify-content: space-around
                    .workPremiere
                        align-self: auto
                        flex-basis: auto
                        flex-shrink: 1
                        flex-grow: 0
                        min-height: 50px
                        font-size: 1em
                        line-height: 1.25em
                        margin: 0 10px
                        text-align: left
                        font-family: $font-stack-two
                        color: $secondary
                        padding-right: 17px
                    .workPremiere::before
                        display: block
                        content: "Première: "
                        color: $primary
                        font-family: $font-stack
                        font-weight: 400
                .workDescription
                    height: 175px
                    min-height: 175px
                    overflow: scroll
                    overflow-y: scroll
                    font-size: 1em
                    line-height: 1.25em
                    font-family: $font-stack-two
                    color: $secondary
                    padding-right: 17px
                    box-sizing: content-box
                .workDescription::-webkit-scrollbar
                    width: 4px
                .workDescription::-webkit-scrollbar-thumb
                    background-color: rgba(0, 0, 0, 0.3)
                    border-radius: 2px
                .workDescription::before
                    content: "Description"
                    display: block
                    color: $primary
                    font-family: $font-stack
                    font-weight: 400
                .workDuration, .workDescription
                    display: block
                    margin: 0 10px
                    text-align: left
                .linksWrapper
                    min-height: 100px
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: space-around
                    .workLink
                        display: flex
                        flex-direction: row
                        align-items: center
                        justify-content: center
                        margin: 5px 0 5px 0
                    .workLinkIcon
                        width: 20px
                        margin: 0 10px 0 0
                        overflow: hidden
                    .workSoundcloudLink
                        background-color: #CA4246
                        background-image: linear-gradient(90deg, #fc7f18 0%, #ff2f00 50%, #fe7c11 100%)
                        background-size: 100%
                        background-repeat: repeat
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                    .workGenericPlayLink
                        background-color: #614de3
                        background-image: linear-gradient(90deg, #1d0fd6 0%, #5f1bb9 80%)
                        background-size: 100%
                        background-repeat: repeat
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                    .workYoutubeLink
                        background-color: #c60007
                        background-image: linear-gradient(90deg, #e32424 0%, #a60000 50%, #e32424 100%)
                        background-size: 100%
                        background-repeat: repeat
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                    .workSpotifyLink
                        background-color: #01d119
                        background-image: linear-gradient(90deg, #00c700 0%, #009a08 50%, #00c700 100%)
                        background-size: 100%
                        background-repeat: repeat
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                    .workBuyLink
                        background-color: #000000
                        background-image: linear-gradient(90deg, #30c260 0%, #009e5f 50%, #30c260 100%)
                        background-size: 100%
                        background-repeat: repeat
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                    .workInfoLink
                        background-color: #000000
                        background-image: linear-gradient(90deg, #000000 0%, #636b86 80%)
                        background-size: 100%
                        background-repeat: repeat
                        -webkit-background-clip: text
                        -webkit-text-fill-color: transparent
                .workReadMore
                    display: block
                    width: 100%
                    text-align: center
                    text-transform: uppercase
                    color: $highlight
                    margin: 25px auto auto auto
            &:hover
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px
        &:hover
            transform: scale(1.01)
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px

.filtersTitle
    display: block
    position: relative
    text-align: center
    margin: 50px 0 50px 0
    font-size: 1.85em
    font-family: $font-stack-two
    @media screen and ( max-width: 425px ) and (min-width: 300px)
        width: 90%
        margin: 50px auto
        font-size: 1.25em
#filters
    display: none
    max-width: 1000px
    min-width: 300px
    margin: 0 auto
    padding: 20px 20px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: baseline
    flex-wrap: wrap
    @media screen and ( max-width: 400px )
        justify-content: flex-start
        padding: 10px 10px

    button
        align-items: center
        background: $white
        border: 0 solid #E2E8F0
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
        box-sizing: border-box
        color: $black
        display: inline-flex
        font-family: $font-stack-two
        font-size: 1rem
        font-weight: 700
        height: 56px
        justify-content: center
        line-height: 24px
        overflow-wrap: break-word
        padding: 24px
        text-decoration: none
        width: auto
        border-radius: 8px
        cursor: pointer
        user-select: none
        -webkit-user-select: none
        touch-action: manipulation
        transition: background-color 0.3s ease, color 0.3s ease
        margin: 10px
    button.active
        background-color: $highlight
        color: #fff
#workCount
    display: block
    width: 100%
    text-align: center
    font-family: $font-stack-two
    font-size: 1.5em
    font-weight: 400
    margin: 0 auto 25px auto
