<div class="bioSection first">
    <p>Francesco Vitucci, born in 1991, is a composer from Grumo Appula (Bari - Italy).</p>
</div>

<div class="bioSection">
    <h2>Learning</h2>
    <p>
        In 2016 he obtained the Academic Diploma (Bachelor) in Composition with full marks and honour, under the
        guidance of Biagio Putignano, at the Conservatory “Niccolò Piccinni” in Bari. With the same teacher and at the
        same institution he completed his studies, attending the two-year experimental Master of Arts in “Technological
        musical disciplines - Composition”, and obtaining the Diploma in 2018 with full marks, honour and mention of the
        jury.
    </p>
    <p>
        In May 2020 he obtained the Master of Advanced Studies in “Music Composition” with full marks and honour, at the
        Conservatory of Italian Switzerland, in Lugano, under the guidance of Nadir Vassena.
    </p>
    <p>
        In June 2022, under the guidance of Ivan Fedele, he obtained the Postgraduate Specialization Diploma in
        “Composition”, at the National Academy of Santa Cecilia (Rome), with full marks and honour.
    </p>
    <p>
        At the same institution, he attended the “Electronic Music” course, held by Michelangelo Lupone.
    </p>
    <p>
        In July 2024, under the guidance of Francesco Scagliola, he obtained the II level Academic Diploma in Electronic
        Music with full marks, honour and mention, at the “Niccolò Piccinni” Conservatory in Bari.
    </p>
    <p>
        Currently, at the “N. Piccinni” Conservatory of Bari, he is a PhD student in “Computational electroacoustic
        musical composition, generative algorithmic models and computational complexity”.
    </p>
    <p>
        Among the artists with whom he specialized in courses and masterclasses, in Italy and abroad, Reinhard Febel,
        Julian Anderson, Luigi Ceccarelli, Carlo Infante, Elio Martusciello, Riccardo Santoboni, Daniela Terranova,
        Maurizio Azzan, Zeno Baldi, Giulia Lorusso and , for the in-depth study of instrumental techniques, Anssi
        Karttunen, Steven Dann, Lisa Fornhammar.
    </p>
</div>

<div class="bioSection">
    <h2>Awards</h2>
    <p>
        His works have been positively evaluated in various national and international composition competitions.
    </p>
    <p>
        In November 2015 he participated in the First International Composition Competition “Music and Poetry between
        Italy and Japan”, organized by the Italian Cultural Institute of Osaka (Japan), winning a publication of the
        piece “Respiri erosi” for soprano, flute and guitar, performed at the Umeda Kawai Concert Hall.
    </p>
    <p>
        In 2017 his composition “Tryptich of human sound”, for violin, cello and piano, received an extraordinary report
        from the jury of the third edition of the “Vittorio Fellegara” International Composition Competition, within
        which he is one of the three finalists.
    </p>
    <p>
        His “5 haiku” for voice and cello are among the finalists of the International Call for Scores - Musica
        Perspective 2019-20, among over two hundred composers all over the world.
    </p>
    <p>
        In March 2021, “Triptych”, for flute, clarinet, violin, cello and piano, is winner in the International
        Composition Competition “Coloana infinitului” (Romania).
    </p>
    <p>
        In 2021 he won the First Prize in the International Composition Competition “2 Agosto” with the piece “Nelle
        pieghe” for orchestra, performed in Piazza Maggiore in Bologna by the Teatro Comunale Orchestra, conducted by
        Marco Angius and broadcast on RAI 5 and RaiPlay (Rai Radiotelevisione italiana).
    </p>
    <p>
        In the same year, his piece “Stella” (taken from “Liriche dell'etere”) won the “Best piece of the trilogy” award
        and the “Best piece among the youngest composers”, within the 1st Composition Competition “Lirica da camera su
        testi di poeti e scrittori delle Case Museo di Romagna”.
    </p>
    <p>
        In May 2022, his piece “Neve / Schnee”, for soprano and piano, based on a text by Tilo Krause, won the Jurypreis
        and the Publikumpreis, at the “Junges Lied-Wettbewerbes” competition in Zurich.
    </p>
    <p>
        In October 2022 he won the Grand Prix in the 4th International Composer Competition “New Music Generation 2022”,
        organized by the Kazakh National University of Arts.
    </p>
    <p>
        In January 2023, he was a finalist in the “Luciano Berio” International Composition Competition - II edition.
    </p>
    <p>
        His piece “A deep breath”, for digital quadraphonic fixed media and live electronics on S.T.ON3L, is selected
        within the International Computer Music Conference 2024, held at Hanyang University in Seoul (South Korea),
        where it is presented as an absolute first performance.
    </p>
    <p>
        In October 2024 he received the Goffredo Petrassi Award from the President of the Italian Republic Sergio
        Mattarella, as the best student of the Composition Course of the Accademia Nazionale di Santa Cecilia for the
        year 2022.
    </p>
</div>
<div class="bioSection">
    <h2>Artistic and concert activity</h2>
    <p>
        Ordinary member of S.I.M.C. Italy (Italian Society of Contemporary Music), his works are performed in concerts
        and contemporary music festivals, in Italy and abroad. Only a part of it is reported below, in chronological
        order.
    </p>
    <p>
        Among the most prestigious occasions, it is important to mention the staging of the ballet “La Tempesta”, the
        result of collaboration with the UCI (University of California Irvine), for which he composed the piece “Charm
        and Dissolution” for flute, guitar , violin, cello and electronics; also in America, the performance of his work
        “Trio” for violin, cello and piano, an educational piece, within the “Contemporary 4 kids” III Edition review in
        Buffalo (USA); in Pučišća (Croatia) the performance of “Fantasia con Fuga e Finale” for piano.
    </p>
    <p>
        As a member of the EGCAM group, for applied music, in 2015 he created a sonorization for the Festival of
        Contemporary Sacred Art “Pro Arte Pro Deo” XXIII edition in Monteroni di Lecce, presenting two works for
        synthetic sounds, “Di luce e attimi lontani” and “Istanti d'ombra”. In relation to the composition of music
        applied to video art, he participates in the multimedia project “Comporre Insieme”, promoted by S.I.M.C. and
        L’Artificio - New circle of artists, presenting “Imprinting” (Reggio Emilia, December 2018).
    </p>
    <p>
        He has also collaborated several times with soloists, ensembles and orchestras of the institutions in which he
        studied. For the Orchestra of the Conservatory “Niccolò Piccinni” of Bari he wrote the “Variations” for
        orchestra, performed in 2016, and “Daedalus” for orchestra and fixed electronics, performed in 2018.
    </p>
    <p>
        In May 2019, the world premiere of Hex-A for string sextet takes place, entrusted to the soloists of the
        Arrigoni Strings Academy (San Vito al Tagliamento). More recent is the first performance, in Lugano , of “Dove
        Calisto luce”, a piece for piano and percussion.
    </p>
    <p>
        In May 2021, the world premiere of “Pinax” for solo violin takes place at the Teatro Studio Borgna (Parco della
        Musica - Rome).
    </p>
    <p>
        In June 2022, at the same Teatro Studio, the first performance of “Corpora” took place, for eleven instruments,
        entrusted to the Ensemble 900 (National Academy of Santa Cecilia) conducted by Maestro Pasquale Corrado, and the
        world premiere of “In the middle of”, for two players and electro-acoustic devices, entrusted to Maestro Enzo
        Filippetti (saxophone) and to the composer himself as regards the electro-acoustic execution and sound design.
    </p>
    <p>
        In November 2022, at the Sala della Musica of the Municipality of Ferrara, “Cartigli” for piano and ensemble is
        presented, the world premiere of which is curated by the soloists of the Este Symphony Orchestra, conducted by
        Fabio Gentili.
    </p>
    <p>
        In September 2023, within the ArteScienza 2023 festival, at the Auditorium of the Goethe Institut Rom - Rome,
        the première of “Projections”, for string trio and live electronics (commissioned by the CRM - Centro Ricerche
        Musicali di Roma), took place, entrusted to the MDI ensemble with the participation of the composer in the
        performance of the live electronics.
    </p>
    <p>
        In March 2024, “Preludio ai riti del fuoco” was presented, commissioned by the ICO Symphony Orchestra of the
        Metropolitan City of Bari, within the review “DI GENTI E DI MARE. Bari, Storie di millenaria accoglienza”. The
        premiere took place in the concert “In planctu desiderio”, with Maestro Jan Miłosz Zarzycki conducting the
        Symphony Orchestra of the Metropolitan City of Bari.
    </p>
</div>
<div class="bioSection">
    <h2>Artistic residences</h2>
    <p>
        Among the latest experiences of artistic residency, “Mousiké et Areté” - 2nd Edition stands out, an initiative
        promoted by the Italian Ministry for Cultural Heritage and Activities in collaboration with the Orchestra della
        Magna Grecia and ArCoPu, for which he composed “Taras ”, a cantata for baritone, choir and orchestra, dedicated
        to the city of Taranto (in which he was composer in residence) and performed in March 2021; he is composer in
        residence also in Saint-Étienne (France), in May 2021, for the Journées Art \& Science 2021, on the occasion of
        which he presents “At the origin of” for saxophone and Sampo (live electronic processing device) ; in 2022 he
        was a guest of the “Creative Dialogue France” artistic residency program, at the Château de Beauchêne in
        Champtocé-sur-Loire (France), an occasion for which he created “Sighs Water”, premiered at the Abbey of
        Saint-Florent-le-Vieil.
    </p>
</div>
<div class="bioSection">
    <h2>Other activities</h2>
    <p>
        In October 2020 the Puglia Region awarded him a certificate of professional qualification as “Responsible of
        music composition and writing”, a recognition that allows him to start some collaborations with the Paolo Grassi
        Foundation of Martina Franca.
    </p>
    <p>
        Since November 2020 he teaches Music Analysis in a seminar for students of the Master of Arts in Orchestral
        Conducting, at the Conservatory of Italian Switzerland. In April 2021, at the same institution, he collaborated
        with Nadir Vassena, as assistant to the Algorithmic Composition course, within the Composition course.
    </p>
    <p>
        He regularly carries out teaching activities in Music Technologies, at Second Grade Secondary Schools in Italy.
    </p>
    <p>
        Between 2023 and 2024 he was Composition teacher at the “G. Rossini” in Pesaro.
    </p>
</div>

<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
</script>
<pre class="mermaid">
    graph TD
    A[Client] --> B[Load Balancer]
    B --> C[Server01]
    B --> D[Server02]
</pre>