<div class="bioSection first">
    <p>Francesco Vitucci, nato nel 1991, è un compositore di Grumo Appula (Bari - Italia).</p>
</div>

<div class="bioSection">
    <h2>Istruzione</h2>
    <p>Nel 2016 ha conseguito il diploma accademico di I livello in “Composizione” con il massimo dei voti e
        la lode, sotto la guida di Biagio Putignano, al Conservatorio “Niccolò Piccinni” di Bari. Con lo stesso
        docente e presso la medesima Istituzione ha frequentato il Biennio di II livello sperimentale in
        “Discipline musicali ad indirizzo tecnologico – Composizione”, conseguendone il diploma nel 2018 con il
        massimo dei voti e la menzione della commissione giudicatrice.</p>
    <p>A maggio del 2020 consegue con il massimo dei voti e la lode il Master of Advanced Studies in “Music
Composition”, presso il Conservatorio della Svizzera Italiana, a Lugano, sotto la guida di Nadir Vassena.</p>
    <p>A giugno del 2022, sotto la guida di Ivan Fedele, consegue il Diploma di Perfezionamento in “Composizione”,
        presso l’Accademia Nazionale di Santa Cecilia (Roma), con il massimo dei voti e la lode.</p>
    <p>Presso la stessa Istituzione, frequenta il Corso di “Musica Elettronica”, tenuto da Michelangelo Lupone.</p>
    <p>A luglio 2024, sotto la guida di Francesco Scagliola, consegue il diploma accademico di II livello in Musica
        Elettronica con il massimo dei voti e la menzione accademica, presso il Conservatorio “Niccolò Piccinni” di
        Bari.</p>
    <p>Attualmente, presso il Conservatorio “N. Piccinni” di Bari, è dottorando di ricerca in “Composizione musicale
        elettroacustica computazionale, modelli algoritmici generativi e complessità computazionale”.</p>
    <p>Tra gli artisti con cui si è perfezionato in corsi e masterclass, in Italia e all’estero, Reinhard Febel,
        Julian Anderson, Luigi Ceccarelli, Carlo Infante, Elio Martusciello, Riccardo Santoboni, Daniela Terranova,
        Maurizio Azzan, Zeno Baldi, Giulia Lorusso e, per l’approfondimento delle tecniche strumentali, Anssi Karttunen,
        Steven Dann, Lisa Fornhammar.</p>
</div>

<div class="bioSection">
    <h2>Premi e riconoscimenti</h2>
    <p>I suoi lavori sono stati valutati positivamente in diversi concorsi di composizione nazionali ed internazionali e
        sono stati eseguiti da numerosi interpreti.</p>
    <p>Nel novembre 2015 ha partecipato al Primo Concorso Internazionale di composizione “Musica e Poesia tra Italia e
        Giappone”, organizzato dall’Istituto Italiano di Cultura di Osaka (Giappone), vincendo una pubblicazione del suo
        brano
        “Respiri erosi” per soprano, flauto e chitarra, eseguito presso la Umeda Kawai Concert Hall.</p>
    <p>Nel 2017 la sua composizione “Tryptich of human sound”, per violino, violoncello e pianoforte, riceve una
        segnalazione
        straordinaria da parte della giuria della terza edizione del Concorso Internazionale di Composizione “Vittorio
        Fellegara”,
        all’interno del quale risulta essere uno dei tre finalisti.</p>
</div>