<div class="bioSection first">
    <p>Francesco Vitucci, nato nel 1991, è un compositore di Grumo Appula (Bari - Italia).</p>
</div>

<div class="bioSection">
    <h2>Istruzione</h2>
    <p>Nel 2016 ha conseguito il diploma accademico di I livello in “Composizione” con il massimo dei voti e
        la lode, sotto la guida di Biagio Putignano, al Conservatorio “Niccolò Piccinni” di Bari. Con lo stesso
        docente e presso la medesima Istituzione ha frequentato il Biennio di II livello sperimentale in
        “Discipline musicali ad indirizzo tecnologico – Composizione”, conseguendone il diploma nel 2018 con il
        massimo dei voti e la menzione della commissione giudicatrice.</p>
    <p>A maggio del 2020 consegue con il massimo dei voti e la lode il Master of Advanced Studies in “Music
        Composition”, presso il Conservatorio della Svizzera Italiana, a Lugano, sotto la guida di Nadir Vassena.</p>
    <p>A giugno del 2022, sotto la guida di Ivan Fedele, consegue il Diploma di Perfezionamento in “Composizione”,
        presso l’Accademia Nazionale di Santa Cecilia (Roma), con il massimo dei voti e la lode.</p>
    <p>Presso la stessa Istituzione, frequenta il Corso di “Musica Elettronica”, tenuto da Michelangelo Lupone.</p>
    <p>A luglio 2024, sotto la guida di Francesco Scagliola, consegue il diploma accademico di II livello in Musica
        Elettronica con il massimo dei voti e la menzione accademica, presso il Conservatorio “Niccolò Piccinni” di
        Bari.</p>
    <p>Attualmente, presso il Conservatorio “N. Piccinni” di Bari, è dottorando di ricerca in “Composizione musicale
        elettroacustica computazionale, modelli algoritmici generativi e complessità computazionale”.</p>
    <p>Tra gli artisti con cui si è perfezionato in corsi e masterclass, in Italia e all’estero, Reinhard Febel,
        Julian Anderson, Luigi Ceccarelli, Carlo Infante, Elio Martusciello, Riccardo Santoboni, Daniela Terranova,
        Maurizio Azzan, Zeno Baldi, Giulia Lorusso e, per l’approfondimento delle tecniche strumentali, Anssi Karttunen,
        Steven Dann, Lisa Fornhammar.</p>
</div>

<div class="bioSection">
    <h2>Premi e riconoscimenti</h2>
    <p>I suoi lavori sono stati valutati positivamente in diversi concorsi di composizione nazionali ed internazionali e
        sono stati eseguiti da numerosi interpreti.</p>
    <p>Nel novembre 2015 ha partecipato al Primo Concorso Internazionale di composizione “Musica e Poesia tra Italia e
        Giappone”, organizzato dall’Istituto Italiano di Cultura di Osaka (Giappone), vincendo una pubblicazione del suo
        brano
        “Respiri erosi” per soprano, flauto e chitarra, eseguito presso la Umeda Kawai Concert Hall.</p>
    <p>Nel 2017 la sua composizione “Tryptich of human sound”, per violino, violoncello e pianoforte, riceve una
        segnalazione straordinaria da parte della giuria della terza edizione del Concorso Internazionale di
        Composizione
        “Vittorio Fellegara”, all’interno del quale risulta essere uno dei tre finalisti.</p>
    <p>
        I suoi “5 haiku” per voce e violoncello sono tra i finalisti della International Call for Scores - Musica
        Prospettiva
        2019-20, tra oltre duecento compositori in tutto il mondo.
    </p>
    <p>
        A marzo 2021, “Triptych”, per flauto, clarinetto, violino, violoncello e pianoforte, risulta vincitore nel
        Concorso
        Internazionale di Composizione “Coloana infinitului” (Romania).
    </p>
    <p>
        Nel 2021 vince il Primo Premio nel Concorso Internazionale di Composizione “2 Agosto” - XXVII edizione, con il
        brano “Nelle pieghe” per orchestra, eseguito in Piazza Maggiore a Bologna dall'Orchestra del Teatro Comunale,
        diretta dal Maestro Marco Angius, e trasmesso su RAI 5 e RaiPlay.
    </p>
    <p>
        Nello stesso anno il suo brano “Stella” (tratto da “Liriche dell'etere”) vince il premio “Miglior brano della
        trilogia” e il premio “Miglior brano tra i più giovani”, all'interno del I° Concorso di Composizione “Lirica da
        camera su testi di poeti e scrittori delle Case Museo di Romagna”.
    </p>
    <p>
        A maggio 2022 il brano “Neve/Schnee”, per soprano e pianoforte, su testo di Tilo Krause, vince il Jurypreis ed
        il Publikumpreis, presso il Concorso “Junges Lied-Wettbewerbes” di Zurigo.
    </p>
    <p>
        Ad ottobre 2022 ottiene il Grand Prix nel 4th International Composer Competition «New Music Generation 2022»,
        indetto dalla Kazakh National University of Arts.
    </p>
    <p>
        A gennaio 2023 è finalista all’interno del Concorso Internazionale di Composizione “Luciano Berio” – II
        edizione.
    </p>
    <p>
        Il suo brano “A deep breath”, per supporto digitale quadrifonico e live electronics su S.T.ON3L, è selezionato
        all'interno dell'International Computer Music Conference 2024, tenuta presso la Hanyang University di Seoul
        (South Korea), dove viene presentato in prima esecuzione assoluta.
    </p>
    <p>
        Ad ottobre 2024 riceve il Premio Goffredo Petrassi dal Presidente della Repubblica Italiana Sergio Mattarella,
        come miglior studente del Corso di Composizione dell'Accademia Nazionale di Santa Cecilia per l'anno 2022.
    </p>
</div>
<div class="bioSection">
    <h2>Attività artistica e concertistica</h2>
    <p>
        Socio ordinario della S.I.M.C. (Società Italiana Musica Contemporanea), i suoi lavori sono eseguiti in concerti
        e festival di musica contemporanea, in Italia e all’estero. Se ne riporta di seguito solo una parte, in ordine
        cronologico.
    </p>
    <p>
        Tra le occasioni più prestigiose, è importante menzionare la messa in scena del balletto “La Tempesta”, frutto
        di collaborazione con la UCI (University of California Irvine), per il quale ha composto il brano “Charm and
        Dissolution” per flauto, chitarra, violino, violoncello ed elettronica; sempre in territorio americano,
        l’esecuzione del suo lavoro “Trio” per violino, violoncello e pianoforte, brano a carattere didattico,
        all'interno della rassegna “Contemporary 4 kids” III Edition a Buffalo (USA); in Pučišća (Croazia) l’esecuzione
        di Fantasia con Fuga e Finale per pianoforte.
    </p>
    <p>
        Come membro del gruppo EGCAM, per la musica applicata, nel 2015 ha realizzato una sonorizzazione per il festival
        di Arte Sacra Contemporanea “Pro Arte Pro Deo” XXIII edizione a Monteroni di Lecce, presentando due lavori per
        suoni di sintesi, “Di luce e attimi lontani” e “Istanti d’ombra”. Sempre in relazione alla composizione di
        musica applicata alla videoarte, partecipa al progetto multimediale “Comporre insieme”, promosso da S.I.M.C. e
        L’Artificio – Nuovo circolo degli artisti, presentando “Imprinting” (Reggio Emilia, dicembre 2018).
    </p>
    <p>
        Ha inoltre collaborato più volte con solisti, ensemble ed orchestre delle Istituzioni in cui si è formato. Per
        l'Orchestra del Conservatorio “Niccolò Piccinni” di Bari ha scritto le “Variazioni” per orchestra, eseguite nel
        2016, e “Daedalus” per orchestra ed elettronica fissata, eseguito nel 2018. Più recente invece è la prima
        esecuzione assoluta, a Lugano, di “Dove Calisto luce”, brano per pianoforte e percussioni.
    </p>
    <p>
        A maggio 2019 ha luogo la prima esecuzione assoluta di Hex-A, per sestetto d'archi, affidato ai solisti
        dell'Accademia d'archi Arrigoni (San Vito al Tagliamento).
    </p>
    <p>
        A maggio 2021, presso il Teatro Studio Borgna (Parco della Musica - Roma) ha luogo la prima esecuzione assoluta
        di “Pinax”, per violino solo.
    </p>
    <p>
        A giugno 2022, presso lo stesso Teatro Studio, ha avuto luogo la prima esecuzione assoluta di “Corpora”, per
        undici strumenti, affidata all'Ensemble 900 (Accademia Nazionale di Santa Cecilia) diretto dal Maestro Pasquale
        Corrado, e la prima esecuzione assoluta di “In the middle of”, per due esecutori e dispositivi elettroacustici,
        affidata al Maestro Enzo Filippetti (sassofono) e allo stesso compositore per quanto riguarda l'esecuzione
        elettroacustica.
    </p>
    <p>
        A novembre 2022, presso la Sala della Musica del Comune di Ferrara, viene presentato “Cartigli” per pianoforte e
        ensemble, la cui prima esecuzione assoluta è curata dai solisti dell'Orchestra Sinfonica d'Este, sotto la guida
        di Fabio Gentili.
    </p>
    <p>
        A settembre 2023, all'interno della festival ArteScienza 2023, presso l'Auditorium del Goethe Institut Rom -
        Roma, ha luogo la prima esecuzione di “Projections”, per trio d'archi e live electronics (commissione del CRM -
        Centro Ricerche Musicali di Roma), affidato all'MDI ensemble con la partecipazione del compositore
        all'esecuzione del live electronics.
    </p>
    <p>
        A marzo 2024 viene presentato “Preludio ai riti del fuoco”, commissione della ICO Orchestra Sinfonica della
        Città Metropolitana di Bari, all'interno della rassegna "DI GENTI E DI MARE. Bari, Storie di millenaria
        accoglienza". La première avviene nel concerto “In planctu desidero”, con il M° Jan Miłosz Zarzycki alla
        direzione dell'Orchestra Sinfonica della Città Metropolitana di Bari.
    </p>
</div>
<div class="bioSection">
    <h2>Residenze artistiche</h2>
    <p>
        Tra le ultime esperienze di residenza artistica, spicca “Mousiké et Areté" - 2 Edizione, iniziativa promossa dal
        Ministero per i Beni e le Attività Culturali in collaborazione con Orchestra della Magna Grecia e ArCoPu, per
        cui ha composto “Taras", cantata per baritono, coro ed orchestra, commissionata dalle Istituzioni
        organizzatrici, dedicata alla città di Taranto ed eseguita a marzo 2021; è stato ospite a Saint-Étienne
        (Francia), a maggio 2021, per le Journées Art & Science 2021, nella cui occasione presenta “At the origin of"
        per saxofono e Sampo (dispositivo di elaborazione elettronica dal vivo); nel 2022 è ospite del programma di
        residenza artistica “Creative Dialogue France", presso lo Château de Beauchêne a Champtocé-sur-Loire (Francia),
        occasione per cui realizza “Sospira l'acqua”, eseguito in prima assoluta presso l'Abbazia di
        Saint-Florent-le-Vieil.
    </p>
</div>
<div class="bioSection">
    <h2>Altre attività</h2>
    <p>
        Nell'ottobre 2020 la Regione Puglia gli conferisce un'attestazione di qualifica professionale come “Responsabile
        della composizione e scrittura musicale", riconoscimento che gli ha consentito di avviare collaborazioni con la
        Fondazione Paolo Grassi di Martina Franca nel ruolo di trascrittore.
    </p>
    <p>
        Da novembre 2020 è il responsabile del seminario di Analisi Musicale per gli studenti del Master of Arts in
        Direzione d'Orchestra, presso il Conservatorio della Svizzera Italiana.
        Nell'aprile 2021, presso la medesima istituzione, collabora con Nadir Vassena, come assistente al corso di
        Composizione Algoritmica, nell'ambito del corso di Composizione.
    </p>
    <p>
        Ha svolto attività di docenza di Tecnologie Musicali presso varie Scuole Secondarie di Secondo Grado.
    </p>
    <p>
        Tra il 2023 e il 2024 è stato docente di Composizione presso il Conservatorio “G. Rossini” di Pesaro.
    </p>
</div>