<footer class="footer-wrapper">
    <div id="contact" class="contact-slug">
        <h2>Contact</h2>
    </div>
    <div class="footer-social-links">
        <a href="{{ site.github_path }}" target="_blank" class="social-icon-wrap footer-github-wrapper"></a>
        <a href="{{ site.youtube_path }}" target="_blank" class="social-icon-wrap footer-youtube-wrapper"></a>
        <a href="{{ site.instagram_path }}" target="_blank" class="social-icon-wrap footer-instagram-wrapper"></a>
        <a href="{{ site.facebook_path }}" target="_blank" class="social-icon-wrap footer-facebook-wrapper"></a>
        <a href="{{ site.linkedin_path }}" target="_blank" class="social-icon-wrap footer-linkedin-wrapper"></a>
    </div>
    <a href="mailto:{{ site.email }}" class="footer-email">{{ site.email }}</a>
    <p style="font-size: x-small;margin-top: 10px;">© {{ "now" | date: "%Y" }} {{ site.title }}. Developed by the site owner.</p>
</footer>