<script type="text/javascript" src="{{ site.url }}/assets/js/jquery-3.7.1.min.js"></script>
<script>
    $('.toggled-nav-wrapper').on('click', function (e) {
        e.stopPropagation();
    });
    $('.nav-toggle-open-wrapper, .nav-toggle-close-wrapper, header .nav-toggle-body-overlay').on('click', function () {
        $('html').toggleClass('nav-open');
    });

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            const targetElement = document.querySelector(this.getAttribute('href'));

            if (targetElement) {
                window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: 'smooth'
                });
            }
        });
    });
</script>

<script>
    document.querySelectorAll('.copy-btn').forEach(button => {
        button.addEventListener('click', () => {
            const originalText = button.textContent;
            button.textContent = "Copied";
            button.classList.add('copied');
            setTimeout(() => {
                button.textContent = originalText;
                button.classList.remove('copied');
            }, 2000);
        });
    });
</script>