<!-- navigation -->
<nav class="nav-wrap">
    <a href="{{ site.url }}/" class="nav-logo {% if page.url == '/' %}nav-dark{%endif%}">

        <?xml version="1.0" encoding="UTF-8" standalone="no"?>

        <svg width="100" height="100" viewBox="0 0 26.458333 26.458333" version="1.1" id="svg1"
            xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs1" />
            <g id="layer1">
                <g id="g1" transform="translate(0.06525248,0.3806308)">
                    <g id="g2">
                        <path id="text1"
                            style="font-weight:bold;font-size:25.4px;font-family:Helvetica;-inkscape-font-specification:'Helvetica Bold';stroke-width:0.264583"
                            d="M -1.4017531e-4,2.2450599e-4 V 18.256475 H 3.794977 v -7.664649 h 7.581966 l 5.103565,15.105021 H 20.08959 L 26.327969,7.4157925 h -3.96875 L 18.353262,21.294015 14.384512,7.4157925 c -3.529845,-2.926e-4 -7.05969,4.731e-4 -10.589535,0.00103 v -4.204391 h 9.165332 V 2.2450599e-4 Z" />
                    </g>
                </g>
            </g>
        </svg>



    </a>
    <ul class="navigation {% if page.url == '/' %}nav-dark{%endif%}">
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/bio">Bio</a></li>
        <li><a href="{{ site.url }}/works">Works</a></li>
        <li><a href="{{ site.url }}/research">Research</a></li>
        <li><a href="{{ site.url }}/events">Events</a></li>
        <li class="mediaDropdown">
            <div class="dropbtn">Media</button>
                <div class="dropdown-content">
                    <a href="{{ site.url }}/photo">Photo</a>
                    <a href="{{ site.url }}/video">Video</a>
                </div>
        </li>
        <li><a href="{{ site.url }}/blog">Blog</a></li>
    </ul>
    <!-- Mobile navigation -->
    <div class="nav-toggle-open-wrapper {% if page.url == '/' %}nav-dark{%endif%}">
        <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 18L20 18" stroke-width="2" stroke-linecap="round" />
            <path d="M4 12L20 12" stroke-width="2" stroke-linecap="round" />
            <path d="M4 6L20 6" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>
    <div class="nav-toggle-body-overlay"></div>
    <div class="toggled-nav-wrapper">
        <div class="nav-toggle-close-wrapper">
            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M19.207 6.207a1 1 0 0 0-1.414-1.414L12 10.586 6.207 4.793a1 1 0 0 0-1.414 1.414L10.586 12l-5.793 5.793a1 1 0 1 0 1.414 1.414L12 13.414l5.793 5.793a1 1 0 0 0 1.414-1.414L13.414 12l5.793-5.793z"
                    fill="#000000" />
            </svg>
        </div>
        <div class="internal-nav-links-wrapper">
            <a href="{{ site.url }}/" class="internal-link-wrapper">
                <div class="link-titles-wrapper" id="homeLink">
                    <h5>Home</h5><small>Home</small>
                </div>
                <div class="internal-link-icon internal-link-icon-home"></div>
            </a>
            <a href="{{ site.url }}/bio" class="internal-link-wrapper">
                <div class="link-titles-wrapper" id="bioLink">
                    <h5>Bio</h5><small>Who is Francesco Vitucci?</small>
                </div>
                <div class="internal-link-icon internal-link-icon-bio"></div>
            </a>
            <a href="{{ site.url }}/works" class="internal-link-wrapper">
                <div class="link-titles-wrapper" id="worksLink">
                    <h5>Works</h5><small>What does he do?</small>
                </div>
                <div class="internal-link-icon internal-link-icon-works"></div>
            </a>
            <a href="{{ site.url }}/research" class="internal-link-wrapper">
                <div class="link-titles-wrapper" id="researchLink">
                    <h5>Research</h5><small>Sharing is caring</small>
                </div>
                <div class="internal-link-icon internal-link-icon-research"></div>
            </a>
            <a href="{{ site.url }}/events" class="internal-link-wrapper">
                <div class="link-titles-wrapper" id="eventsLink">
                    <h5>Events</h5><small>What's happening?</small>
                </div>
                <div class="internal-link-icon internal-link-icon-events"></div>
            </a>
            <a href="{{ site.url }}/media" class="internal-link-wrapper">
                <div class="link-titles-wrapper" id="mediaLink">
                    <h5>Media</h5><small>Photo, Video</small>
                </div>
                <div class="internal-link-icon internal-link-icon-media"></div>
            </a>
            <a href="{{ site.url }}/blog" class="internal-link-wrapper">
                <div class="link-titles-wrapper" id="blogLink">
                    <h5>Blog</h5><small>News, thoughts, music</small>
                </div>
                <div class="internal-link-icon internal-link-icon-blog"></div>
            </a>
        </div>
        <hr />
        <div class="external-links-wrapper">
            <a href="{{ site.github_path }}" target="_blank" class="external-link-wrapper">
                <h6>Github</h6>
                <div class="external-link-icon external-link-icon-github"></div>
            </a>
            <a href="{{ site.youtube_path }}" target="_blank" class="external-link-wrapper">
                <h6>YouTube</h6>
                <div class="external-link-icon external-link-icon-youtube"></div>
            </a>
            <a href="{{ site.instagram_path }}" target="_blank" class="external-link-wrapper">
                <h6>Instagram</h6>
                <div class="external-link-icon external-link-icon-instagram"></div>
            </a>
            <a href="{{ site.facebook_path }}" target="_blank" class="external-link-wrapper">
                <h6>Facebook</h6>
                <div class="external-link-icon external-link-icon-facebook"></div>
            </a>
            <a href="{{ site.linkedin_path }}" target="_blank" class="external-link-wrapper">
                <h6>Linkedin</h6>
                <div class="external-link-icon external-link-icon-linkedin"></div>
            </a>
            <a href="mailto:{{ site.email }}" class="mail-address">{{ site.email }}</a>
        </div>
    </div>
</nav>
<!-- end navigation -->