<!-- navigation -->
<nav class="nav-wrap">
    <a href="{{ site.url }}/" class="nav-logo {% if page.url == '/' %}nav-dark{%endif%}">
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="128px" height="128px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" xml:space="preserve">
            <g>
                <g>
                    <g>
                        <path fill="#282D33" d="M80.139,103.801H47.715V55.703H30.227V23.282h67.4v32.421H80.139V103.801z M51.715,99.801h24.424V51.703
				h17.488V27.282h-59.4v24.421h17.488V99.801z" />
                    </g>
                    <g>
                        <g>
                            <rect y="23.279" fill="#282D33" width="5.362" height="4" />
                        </g>
                        <g>
                            <rect x="9.901" y="23.279" fill="#282D33" width="5.363" height="4" />
                        </g>
                        <g>
                            <rect x="19.799" y="23.279" fill="#282D33" width="5.364" height="4" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="102.838" y="23.279" fill="#282D33" width="5.363" height="4" />
                        </g>
                        <g>
                            <rect x="112.736" y="23.279" fill="#282D33" width="5.363" height="4" />
                        </g>
                        <g>
                            <rect x="122.637" y="23.279" fill="#282D33" width="5.363" height="4" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="76.139" y="3.551" fill="#282D33" width="4" height="5.363" />
                        </g>
                        <g>
                            <rect x="76.139" y="13.452" fill="#282D33" width="4" height="5.364" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="47.715" y="3.551" fill="#282D33" width="4" height="5.363" />
                        </g>
                        <g>
                            <rect x="47.715" y="13.452" fill="#282D33" width="4" height="5.364" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="76.139" y="109.186" fill="#282D33" width="4" height="5.365" />
                        </g>
                        <g>
                            <rect x="76.139" y="119.086" fill="#282D33" width="4" height="5.363" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="47.715" y="109.186" fill="#282D33" width="4" height="5.365" />
                        </g>
                        <g>
                            <rect x="47.715" y="119.086" fill="#282D33" width="4" height="5.363" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect y="51.703" fill="#282D33" width="5.362" height="4" />
                        </g>
                        <g>
                            <rect x="9.901" y="51.703" fill="#282D33" width="5.363" height="4" />
                        </g>
                        <g>
                            <rect x="19.799" y="51.703" fill="#282D33" width="5.364" height="4" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="102.838" y="51.703" fill="#282D33" width="5.363" height="4" />
                        </g>
                        <g>
                            <rect x="112.736" y="51.703" fill="#282D33" width="5.363" height="4" />
                        </g>
                        <g>
                            <rect x="122.637" y="51.703" fill="#282D33" width="5.363" height="4" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>

    </a>
    <ul class="navigation {% if page.url == '/' %}nav-dark{%endif%}">
        <li><a href="{{ site.url }}/">Home</a></li>
        <li><a href="{{ site.url }}/bio">Bio</a></li>
        <li><a href="{{ site.url }}/works">Works</a></li>
        <li><a href="{{ site.url }}/research">Research</a></li>
        <li><a href="{{ site.url }}/events">Events</a></li>
        <li><a href="{{ site.url }}/blog">Blog</a></li>
    </ul>
    <!-- Mobile navigation -->
    <div class="nav-toggle-open-wrapper {% if page.url == '/' %}nav-dark{%endif%}">
        <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 18L20 18" stroke="#000000" stroke-width="2" stroke-linecap="round" />
            <path d="M4 12L20 12" stroke="#000000" stroke-width="2" stroke-linecap="round" />
            <path d="M4 6L20 6" stroke="#000000" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>
    <div class="nav-toggle-body-overlay"></div>
    <div class="toggled-nav-wrapper">
        <div class="nav-toggle-close-wrapper">
            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M19.207 6.207a1 1 0 0 0-1.414-1.414L12 10.586 6.207 4.793a1 1 0 0 0-1.414 1.414L10.586 12l-5.793 5.793a1 1 0 1 0 1.414 1.414L12 13.414l5.793 5.793a1 1 0 0 0 1.414-1.414L13.414 12l5.793-5.793z"
                    fill="#000000" />
            </svg>
        </div>
        <div class="internal-nav-links-wrapper">
            <a href="{{ site.url }}/" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Home</h5><small>Home</small></div><div class="internal-link-icon internal-link-icon-home"></div></a>
            <a href="{{ site.url }}/bio" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Bio</h5><small>Who is Francesco Vitucci?</small></div><div class="internal-link-icon internal-link-icon-bio"></div></a>
            <a href="{{ site.url }}/works" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Works</h5><small>What does he do?</small></div><div class="internal-link-icon internal-link-icon-works"></div></a>
            <a href="{{ site.url }}/research" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Research</h5><small>Sharing is caring</small></div><div class="internal-link-icon internal-link-icon-research"></div></a>
            <a href="{{ site.url }}/events" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Events</h5><small>Concerts, conferences and more</small></div><div class="internal-link-icon internal-link-icon-events"></div></a>
            <a href="{{ site.url }}/blog" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Blog</h5><small>News, thoughts, music</small></div><div class="internal-link-icon internal-link-icon-blog"></div></a>
        </div>
        <hr/>
        <div class="external-links-wrapper">
            <a href="{{ site.github_path }}" target="_blank" class="external-link-wrapper"><h6>Github</h6><div class="external-link-icon external-link-icon-github"></div></a>
            <a href="{{ site.youtube_path }}" target="_blank" class="external-link-wrapper"><h6>YouTube</h6><div class="external-link-icon external-link-icon-youtube"></div></a>
            <a href="{{ site.instagram_path }}" target="_blank" class="external-link-wrapper"><h6>Instagram</h6><div class="external-link-icon external-link-icon-instagram"></div></a>
            <a href="{{ site.facebook_path }}" target="_blank" class="external-link-wrapper"><h6>Facebook</h6><div class="external-link-icon external-link-icon-facebook"></div></a>
            <a href="{{ site.linkedin_path }}" target="_blank" class="external-link-wrapper"><h6>Linkedin</h6><div class="external-link-icon external-link-icon-linkedin"></div></a>
        </div>
    </div>
</nav>
<!-- end navigation -->