<section class="work-experience">
    <h2>Esperienza Professionale</h2>
    {% assign lavoroCorrente = site.data.work-experience.lavoroCorrente %}
    {% assign works = site.data.work-experience.lavori%}
    <div class="job">
        <h3 class="jobTitle">{{ lavoroCorrente.titoloLavoro }}</h3>
        <p class="jobWhere">{{ lavoroCorrente.istituzione }} - {{ lavoroCorrente.luogo }}</p>
        <span class="jobDates">{{ lavoroCorrente.da }} - {{ lavoroCorrente.a }}</span>
        <p class="jobDescription">{{ lavoroCorrente.descrizione }}</p>
    </div>
    {% for work in works %}
    <div class="job">
        <h3 class="jobTitle">{{ work.titoloLavoro }}</h3>
        <p class="jobWhere">{{ work.istituzione }} - {{ work.luogo }}</p>
        <span class="jobDates">{{ work.da }} - {{ work.a }}</span>
        <p class="jobDescription">{{ work.descrizione }}</p>
    </div>
    {% endfor%}
</section>