---
layout: default
---
<header class="blog-index-header-main"
    style="background-image:url('{{ site.url }}{{ site.blogImgBin_path }}{{ page.featImg }}');">
    <div class="overlay-dark">
    </div>
    {% include nav.html %}
    <div class="blog-index-title">
        <h1 class="featured-blog-post-title">{{ page.title }}</h1>
    </div>
    <div class="authorCard">
        <img src="{{ site.url }}{{ site.data.authors[page.author].avatar }}"
            alt="{{ site.data.authors[page.author].name }} Avatar" />
        <small><em>by <a href="">{{ site.data.authors[page.author].name }}</a><br>on {{ page.date | date: "%B %e, %Y"
                }}</em></small>
    </div>
</header>
<div class="blogPostContentWrapper">
    <div class="blogCateoriesWrapper">
        {% for category in page.categories %}
        <a class="blogPostCategory" href="{{ site.url }}/category/{{ category }}" target="_blank">{{ category }}</a>
        {% endfor %}
    </div>
    {{ content }}
</div>
<hr>
<h5 class="readMoreCTA">You might want to Read...</h5>
<div class="blogReadMoreWrapper"></div>

<script>
    document.addEventListener("DOMContentLoaded", async function () {

        const response = await fetch('{{ site.url }}/assets/posts.json');
        const posts = await response.json();

        const currentCategories = JSON.parse('{{ page.categories | jsonify }}');
        const currentUrl = '{{ page.url }}'; // URL del post corrente

        const filteredPosts = posts.filter(post => {
            const postCategories = post.categories.split(",").map(category => category.trim());
            return post.url !== currentUrl && // Escludi il post corrente
                   postCategories.some(category => currentCategories.includes(category));
        });

        const recommendedPosts = filteredPosts.slice(0, 3);

        if (recommendedPosts.length === 0) {
            // Rimuovi gli elementi se non ci sono post
            const readMoreCTA = document.querySelector(".readMoreCTA");
            const blogReadMoreWrapper = document.querySelector(".blogReadMoreWrapper");
            if (readMoreCTA) readMoreCTA.remove();
            if (blogReadMoreWrapper) blogReadMoreWrapper.remove();
            return; // Esci dallo script
        }

        let html = '';
        recommendedPosts.forEach(post => {
            html += `
            <div class="blogPostContainer">
                <a href="${post.url}" class="blogPostFeatImg" style="background-image: url('{{ site.url }}/assets/img/blog/lowRes/${post.featImg}');"></a>
                <a href="${post.url}" class="blogCategory">${post.categories}</a>
                <a href="${post.url}" class="blogTitle">${post.title}</a>
                <p class="blogExcerpt">${post.excerpt}</p>
            </div>
        `;
        });

        document.querySelector(".blogReadMoreWrapper").innerHTML = html;
    });
</script>

