<!DOCTYPE html>
<html lang="en">
    {% seo %}
<head>
    {% include head.html %}
    <script type="text/javascript" src="{{ site.url }}/assets/js/jquery-3.7.1.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js@1.0.0/src/bibtex_js.min.js"></script> -->
    <script type="text/javascript" src="{{ site.url }}/assets/js/bibtex_js.min.js"></script>
    <bibtex src="../assets/pubs.bib"></bibtex>
</head>

<body>
    {{ content }}
    {% include footer.html %}
    <script type="text/javascript" src="{{ site.url }}/assets/js/functions.js"></script>
</body>

</html>